
:root { 
  --black: #0f0a0a; 
  --primary: #42e2b8; 
  --gradient: linear-gradient(45deg, #fad7a1 0%, #e96d71 100%); 
  --headline1: 700 5.9375rem/9.6068754196167rem Oxygen; 
  --headline2: 700 3.6875rem/5.96637487411499rem Oxygen; 
  --headline3: 700 3rem/4.854000091552734rem Oxygen; 
  --headline4: 700 2.125rem/3.4382500648498535rem Oxygen; 
  --headline5: 700 1.5rem/2.427000045776367rem Oxygen; 
  --body1: 400 1rem/1.6180000305175781rem Oxygen; 
  --body2: 400 0.875rem/1.4157500267028809rem Oxygen; 
  --button: 700 0.875rem/1.4157500267028809rem Oxygen; 
  --caption: 400 0.75rem/1.2135000228881836rem Oxygen; 

}

*{
  margin: 0;
  padding: 0;
}
body {
    font: var(--body1);
  color: var(--black);
  background: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
}
li{
  list-style: none;  
}
a{
  text-decoration: none;
  color: var(--black);
}
.wrapper{
  margin-top: 16px;
  margin-inline: 16px;
}
.container{
  padding-block: 40px;
  padding-inline: 16px;  
}
.header__container{
  width:100%; 
  height: 90vh;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.nav__links{
  display: none;
}
.cta__download{
  box-sizing: border-box;
  border: 2px solid black;
  border-radius:90px;
  background-color: #42e2b8;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  padding: 13px 24px;
  text-transform: uppercase;
  font: var(--button);
}
/* .cta__social:nth-of-type(2){
  margin-inline: 16px;
}
.cta__social:nth-of-type(3){
  margin-inline-end: 16px;
} */
.cta__social img{
  height: 24px;
  width: 24px;
  padding: 10px;
  background-color: var(--primary);
  border-radius: 4px;
  border: 2px solid black;
}
.hero__texts{
  text-align: left;
}
.hero__texts h3{
  font: var(--headline3);
}
.hero__texts h2{
  font: var(--headline2);
}
.hero__header{
  display: grid;
  grid-template-rows: repeat(2,max-content 1fr);
  align-items: center;
  text-align: center;
  gap: 16px;
}
.hero__data{
  display: flex;
  flex-direction: column;
  grid-row: 2/3;
}
.hero__social{
  margin-top: 16px;
  display: inline-flex;
  gap: 16px;
  justify-content: left;
}
.hero__picture img{
  width: 100%; 
}

/* Main */
.main__message{
  display: grid;  
  gap: 24px;  
  text-align: center;
  align-items: center;  
  padding-block-end: 40px;
}
.main__title{
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}
.main__title--bold{
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
}
.cta img{
  display:inline-block;
  height:80px;
  width: 80px;
}
/* projects */
.projects__container{
  display: grid;
  gap: 16px;
}
.projects__img{
  width: 100%;
}
.projects__title{
  font-size: 24px;
  font-weight: 700;
  color: var(--primary);
  padding-inline: 8px;
  padding-block: 4px;
  text-align: left;
  background-color: var(--black);
  display: inline-block;
  box-shadow: -4px 4px 0px 0px #FFFFFF;
}
.projects__description{
  font: var(--body1);
  line-height: 25px;
  padding-block-start: 16px;
}
.projects__actions{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.cta__code{
  text-transform: uppercase;
  font: var(--button);
  padding-inline: 24px;
  padding-block: 13px;
  border: 2px solid black;
  width: 100%;
  border-radius: 90px;
  box-sizing: border-box;  
  text-align: center;
  display: flex;
  justify-content: center;  
}
.cta__code img{
  margin-right: 9px;
}
.cta__project{
  text-transform: uppercase;
  font: var(--button);
  padding-inline: 24px;
  padding-block: 13px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  background-color: var(--primary);
  border-radius: 90px;
  border: 2px solid black;
}

/* CARD DE USUARIOS */
.project-card {
  display: flex;
  margin-block-start: 40px;
  margin-block-end: 80px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: rgba(255, 255, 255, 0.2) border-box;
  backdrop-filter: blur(40px);
  position: relative;
  border-radius: 24px;
  /* display: none; */
}

.project-card::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3px;
  border-radius: inherit;
  background: linear-gradient(to right bottom, #fff 10%, transparent, transparent, transparent);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.span1{
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.span2{
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  opacity: 50% ;
}
/* Footer */
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:24px;
}
.footer__social{
  display: inline-flex;
  gap: 16px;
} 
.footer__text{
  text-align: center;
  font: var(--body1);
  letter-spacing: 0.005em;
  padding-left: 32px;
  padding-right: 16px;
}
.formulario p{
  font: var(--body1);
  margin-block-start: 16px;
  margin-block-end: 16px;
}
.form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.form label{
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-left: 20px;
  margin-block-end: 8px;
}
.form input,textarea{
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #858c94;
  padding: 12px 16px;
  margin-bottom: 16px;
  color: #0f0a0a;
}
.form .submit{
  font: var(--button);
  color: #0f0a0a;
  background-color: rgba(66, 226, 184, 1);
  border: 2px solid #0d0a0a ;
  text-transform: uppercase;
  border-radius: 90px;
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  
}
